[Unit]
Description=Webradio Frontend for MPD
Documentation=https://github.com/Acer54/Webradio_v2/wiki

# Having network in "Wants" is intentional, because we want webradio.py to start even when network is not available.
Wants=network.target network-online.target
Requires=sound.target
After=network.target network-online.target sound.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
User=pi
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/python /opt/webradio/webradio.py --fullscreen
RestartSec=5
Restart=on-failure
StartLimitInterval=20
StartLimitBurst=3

[Install]
WantedBy=graphical.target
